<div class="flex gap-2 select-none">
  <div
    class="flex flex-1 text-xs items-center justify-center py-1 bg-yellow-200 cursor-pointer"
    (click)="onScheduledClick()"
  >
    Agendado
  </div>
  <div
    class="flex flex-1 text-xs items-center justify-center py-1 cursor-pointer"
    [class.bg-gray-50]="status === 'scheduled'"
    [class.bg-green-300]="
      status === 'waiting' || status === 'ongoing' || status === 'paid'
    "
    (click)="onWaitingClick()"
  >
    En espera
  </div>
  <div
    class="flex flex-1 text-xs items-center justify-center py-1 cursor-pointer"
    [class.bg-gray-50]="status === 'waiting' || status === 'scheduled'"
    [class.bg-blue-300]="status === 'ongoing' || status === 'paid'"
    (click)="onOngoingClick()"
  >
    En consulta
  </div>
  <div
    class="flex flex-1 text-xs items-center justify-center py-1 cursor-pointer"
    [class.bg-gray-50]="status !== 'paid'"
    [class.bg-indigo-400]="status === 'paid'"
    [class.text-white]="status === 'paid'"
    [popper]="paidAmount"
    [popperTrigger]="NgxPopperjsTriggers.click"
    [popperHideOnClickOutside]="true"
    [popperHideOnScroll]="true"
    [popperPlacement]="NgxPopperjsPlacements.LEFT"
  >
    {{ status === "paid" ? "Pagado" : "Pagar" }}
  </div>
</div>

<popper-content #paidAmount>
  <div class="flex flex-col gap-2">
    <select
      class="h-10 px-3 text-sm border shadow-sm focus:outline-none w-full"
      [(ngModel)]="paymentMethod"
      placeholder="Metodo de pago"
    >
      <option value="cash">Efectivo</option>
      <option value="card">Tarjeta</option>
    </select>
    <div class="flex w-full items-center">
      <fa-icon
        class="text-gray-400 mr-2 text-lg"
        [icon]="faDollarSign"
      ></fa-icon>
      <input
        class="flex items-center h-10 px-3 text-sm border shadow-sm focus:outline-none"
        type="text"
        [(ngModel)]="amount"
        placeholder="Monto cobrado"
      />
      <button
        class="flex items-center h-10 px-3 text-sm border shadow-sm focus:outline-none bg-green-500 border-l-0"
        (click)="setAmount()"
      >
        <fa-icon class="text-white" [icon]="faMoneyCheckDollarPen"></fa-icon>
      </button>
    </div>
  </div>
</popper-content>
