<app-modal #NewConsultationModal>
  <div class="flex flex-col gap-4 items-start">
    <div class="flex-1">
      <h1 class="text-xl font-bold">Nueva Consulta</h1>
    </div>
    <div class="flex-1 w-full">
      <div class="relative">
        <button
          class="flex items-center h-8 pl-3 pr-2 border focus:outline-none"
          (click)="dropdownOpen = !dropdownOpen"
        >
          <span class="text-sm leading-none">Paciente</span>
          <svg
            class="w-4 h-4 mt-px ml-2"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
        <div
          class="absolute flex flex-col w-40 mt-1 border shadow"
          *ngIf="dropdownOpen"
        >
          <input
            class="flex items-center h-8 px-3 text-sm border-b focus:outline-none"
            type="search"
            name=""
            id=""
            placeholder="Search…"
          />
          <a
            class="flex items-center h-8 px-3 text-sm hover:bg-gray-50 cursor-pointer"
            (click)="dropdownOpen = false"
            >Item 1</a
          >
        </div>
      </div>
    </div>
    <div class="flex-1 w-full">
      <textarea class="w-full" placeholder="Notas"></textarea>
    </div>
    <div class="flex-1 w-full justify-start flex">App</div>
    <div class="flex-1">
      <button class="btn btn-primary">Guardar</button>
    </div>
  </div>
</app-modal>
