<app-modal #NewConsultationModal>
  <div class="flex flex-col gap-6 items-start">
    <div class="flex">
      <h1 class="text-xl font-bold">Nueva Consulta</h1>
    </div>
    <div class="flex w-full">
      <div class="relative w-full">
        <button
          class="flex w-full items-center justify-between h-10 pl-3 pr-2 border focus:outline-none"
          (click)="dropdownOpen = !dropdownOpen"
        >
          <span
            class="text-sm leading-none text-gray-400"
            *ngIf="!selectedPatient"
            >Elegir paciente</span
          >
          <span class="text-sm leading-none" *ngIf="selectedPatient">{{
            selectedPatient.name
          }}</span>
          <fa-icon
            [icon]="faChevronDown"
            class="mt-px ml-2 text-xs"
            [ngClass]="{ 'transform rotate-180': dropdownOpen }"
          ></fa-icon>
        </button>
        <div
          class="absolute flex flex-col w-full mt-1 border shadow bg-white z-50"
          *ngIf="dropdownOpen"
        >
          <input
            class="flex items-center h-8 px-3 text-sm border-b focus:outline-none"
            #searchPatient
            type="search"
            placeholder="Buscar paciente"
            (keyup)="
              patientsList = patientService.searchPatients(searchPatient.value)
            "
          />
          <a
            class="flex items-center h-8 px-3 text-sm hover:bg-gray-50 cursor-pointer"
            *ngFor="let patient of patientsList"
            (click)="selectedPatient = patient; dropdownOpen = false"
          >
            {{ patient.name }}
          </a>
        </div>
      </div>
    </div>
    <div class="flex w-full">
      <textarea
        #notes
        class="w-full p-3 border focus:outline-none"
        placeholder="Notas"
        (keyup)="selectedNotes = notes.value.trim()"
      ></textarea>
    </div>
    <div class="flex w-full justify-start gap-4">
      <div class="flex-1 bg-gray-100">hi</div>
      <div
        class="flex flex-wrap items-center justify-end flex-1 gap-2 h-[300px] overflow-y-scroll"
      >
        <button
          class="flex flex-[1,1,50%] w-[48%] items-center justify-center rounded shadow-sm text-sm py-2 hover:bg-indigo-500 hover:text-white disabled:bg-gray-100 disabled:text-gray-400 disabled:cursor-not-allowed"
          *ngFor="let time of workTimes"
          [disabled]="timeIsDisabled(time)"
          [ngClass]="{
            'bg-indigo-500 text-white': selectedTime === time
          }"
          (click)="selectedTime = time"
        >
          {{ getTimeAMPM(time) }}
        </button>
      </div>
    </div>
    <div class="flex-1 w-full">
      <button
        class="bg-indigo-500 text-white p-3 rounded-md shadow-sm hover:bg-indigo-600 cursor-pointer flex-1 w-full disabled:bg-gray-100 disabled:text-gray-400 disabled:cursor-not-allowed"
        [disabled]="!selectedPatient || !selectedDate || !selectedTime"
        (click)="setConsultation()"
      >
        <div class="flex items-center justify-center gap-4 w-full">
          <fa-icon
            class="text-xs py-1 px-[6px] bg-white rounded-lg text-indigo-600"
            [icon]="faUserPlus"
          ></fa-icon>
          <h1 class="font-bold text-base">
            Agendar
            {{ selectedPatient ? "a " + selectedPatient.name : null }}
            {{
              selectedPatient && selectedDate
                ? "el " + (selectedDate | date : "d/M")
                : null
            }}
            {{
              selectedPatient && selectedTime
                ? "a las " + getTimeAMPM(selectedTime)
                : null
            }}
          </h1>
        </div>
      </button>
    </div>
  </div>
</app-modal>
