<div class="flex flex-row h-screen antialiased text-gray-800">
  <div
    class="flex flex-col h-full w-full max-w-full bg-gray-100 px-4 py-6 gap-4 overflow-y-scroll"
  >
    <app-dashboard-block>
      <div class="flex gap-52">
        <div class="flex flex-col gap-2">
          <h1 class="text-2xl font-bold flex items-center gap-2">
            {{ patient.name }}
            <app-pill>{{ patient.gender }}</app-pill>
          </h1>
          <h2>
            {{ patient.dob | date }} •
            {{ patient.dob | age }}
          </h2>
          <div class="flex gap-4 text-gray-400">
            <div
              class="flex gap-2 items-center"
              *ngIf="patient.lifestyleInformation.smoking"
            >
              <fa-icon class="text-sm" [icon]="faSmoking"></fa-icon>
              <h2 class="text-sm">Fumador</h2>
            </div>
            <div
              class="flex gap-2 items-center"
              *ngIf="patient.lifestyleInformation.alcohol"
            >
              <fa-icon class="text-sm" [icon]="faWineGlass"></fa-icon>
              <h2 class="text-sm">Alcohol</h2>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-2 justify-start">
          <div class="flex gap-4">
            <fa-icon class="text-sm" [icon]="faPhone"></fa-icon>
            <h2 class="text-sm text-gray-800">
              {{ patient.contactDetails.phone }}
            </h2>
          </div>
          <div class="flex gap-4">
            <fa-icon class="text-sm" [icon]="faAt"></fa-icon>
            <h2 class="text-sm text-gray-800">
              {{ patient.contactDetails.email }}
            </h2>
          </div>
        </div>
        <div class="flex flex-col gap-2 justify-start">
          <div class="flex gap-4">
            <fa-icon class="text-sm" [icon]="faAt"></fa-icon>
            <h2 class="text-sm text-gray-800">
              {{ patient.contactDetails.address.street }} <br />
              {{ patient.contactDetails.address.city }},
              {{ patient.contactDetails.address.state }}
              {{ patient.contactDetails.address.zip }}
            </h2>
          </div>
        </div>
      </div>
    </app-dashboard-block>
    <div class="flex gap-4">
      <div class="flex flex-col gap-4 flex-1">
        <!-- basic information start -->
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <h1 class="flex p-2 font-semibold text-lg">Información Basica</h1>
            <select
              class="flex border border-gray-300 rounded-md p-2 py-1 text-sm h-8"
              #basicInformation
              (change)="onBasicMedicalInformationChange(basicInformation.value)"
            >
              <option
                *ngFor="
                  let date of patient.basicMedicalInformation;
                  let i = index
                "
                [value]="i"
              >
                {{ date.takenAt | date }}
              </option>
            </select>
          </div>
          <div class="flex gap-4">
            <app-dashboard-block
              class="flex-1"
              *ngFor="
                let key of keys(
                  patient?.basicMedicalInformation[basicInformationIndex]
                    .information
                )
              "
            >
              <h3 class="text-xs text-slate-500 capitalize">
                {{ getLabel(key) }}
              </h3>
              <h1 class="text-3xl">
                {{
                  getValue(
                    key,
                    patient.basicMedicalInformation[basicInformationIndex]
                      .information
                  )
                }}
              </h1>
            </app-dashboard-block>
          </div>
        </div>
        <!-- basic infromation end -->

        <!-- resumen start -->
        <div class="flex flex-col">
          <h1 class="p-2 font-semibold text-lg">Resumen</h1>
          <div class="flex gap-4">
            <app-dashboard-block class="flex-1">
              <div class="flex">
                <div class="flex flex-col flex-1 gap-2">
                  <h1 class="font-semibold text-gray-700 capitalize">
                    Condiciones
                  </h1>
                  <div class="flex gap-2 flex-wrap text-gray-700">
                    <div *ngIf="!patient.medicalHistory?.conditions.length">
                      <span class="text-gray-400"> No hay condiciones </span>
                    </div>
                    <div
                      class="w-[25%]"
                      *ngFor="
                        let condition of patient.medicalHistory?.conditions
                      "
                    >
                      <span class="border-b pb-1 border-gray-400 border-dotted">
                        {{ condition }}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="flex flex-col flex-1 gap-2">
                  <h1 class="font-semibold text-gray-700 capitalize">
                    Alergias
                  </h1>
                  <div class="flex gap-2 flex-wrap text-gray-700">
                    <div *ngIf="!patient.allergies.length">
                      <span class="text-gray-400"> No hay alergias</span>
                    </div>
                    <div
                      class="w-[25%]"
                      *ngFor="let allergy of patient.allergies"
                    >
                      <span class="border-b pb-1 border-gray-400 border-dotted">
                        {{ allergy.name }}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="flex flex-col flex-[.5] gap-2">
                  <h1 class="font-semibold text-gray-700 capitalize">
                    Proxima Visita
                  </h1>
                  <div *ngIf="!patient.nextConsultation">
                    <span class="text-gray-400">No hay visita agendada</span>
                  </div>
                  <div *ngIf="patient.nextConsultation" class="text-gray-700">
                    {{ patient.nextConsultation.date | date }}
                  </div>
                </div>
                <div class="flex flex-col flex-[.5] gap-2">
                  <h1 class="font-semibold text-gray-700 capitalize">
                    Ultima visita
                  </h1>
                  <div *ngIf="!patient.lastConsultation">
                    <span class="text-gray-400">No hay ultima agendada</span>
                  </div>
                  <div *ngIf="patient.lastConsultation" class="text-gray-700">
                    {{ patient.lastConsultation.date | date }}
                  </div>
                </div>
              </div>
            </app-dashboard-block>
          </div>
        </div>
        <!-- Resumen end -->

        <!-- Medicamentos start -->
        <div class="flex flex-col">
          <h1 class="p-2 font-semibold text-lg">Medicamentos</h1>
          <div class="flex gap-4">
            <app-dashboard-block class="flex-1">
              <div
                *ngIf="!patient?.medications?.length"
                class="flex items-center justify-center py-4 gap-4 text-gray-400"
              >
                <fa-icon [icon]="faTablets"></fa-icon>
                <h1 class="text-xl font-semibold">
                  El paciente no utiliza ningún medicamento
                </h1>
              </div>
              <div *ngIf="patient?.medications?.length">
                <div class="flex py-2 font-bold capitalize">
                  <div class="flex-1">Medicamento</div>
                  <div class="flex-1">Dosis</div>
                  <div class="flex-1">Inicio</div>
                  <div class="flex-1">Final</div>
                </div>
                <div
                  class="flex hover:bg-slate-100 cursor-pointer px-4 py-2 -mx-4 text-sm"
                  *ngFor="
                    let medication of patient.medications;
                    let last = last
                  "
                  [class.border-b]="!last"
                  [class.bg-red-50]="medication.endDate < today"
                  [class.line-through]="medication.endDate < today"
                >
                  <div class="flex-1 font-bold">{{ medication.name }}</div>
                  <div class="flex-1">{{ medication.dosage }}</div>
                  <div class="flex-1">{{ medication.startDate | date }}</div>
                  <div class="flex-1">{{ medication.endDate | date }}</div>
                </div>
              </div>
            </app-dashboard-block>
          </div>
        </div>
        <!-- Medicamentos end -->

        <!-- Operaciones start -->
        <div class="flex flex-col">
          <h1 class="p-2 font-semibold text-lg">Operaciones</h1>
          <div class="flex gap-4">
            <app-dashboard-block class="flex-1">
              <div
                *ngIf="!patient?.medicalHistory?.surgeries.length"
                class="flex items-center justify-center py-4 gap-4 text-gray-400"
              >
                <fa-icon [icon]="faSyringe"></fa-icon>
                <h1 class="text-xl font-semibold">
                  El paciente no ha tenido ninguna operación
                </h1>
              </div>
              <div *ngIf="patient?.medicalHistory?.surgeries?.length">
                <div class="flex py-2 font-bold capitalize">
                  <div class="flex-1">Operación</div>
                  <div class="flex-1">Fecha</div>
                </div>
                <div
                  class="flex hover:bg-slate-100 cursor-pointer px-4 py-2 -mx-4 text-sm"
                  *ngFor="
                    let surgery of patient?.medicalHistory?.surgeries;
                    let last = last
                  "
                  [class.border-b]="!last"
                >
                  <div class="flex-1 font-bold">{{ surgery.name }}</div>
                  <div class="flex-1">{{ surgery.date | date }}</div>
                </div>
              </div>
            </app-dashboard-block>
          </div>
        </div>
        <!-- Operaciones end -->

        <!-- Hopitalizaciones start -->
        <div class="flex flex-col">
          <h1 class="p-2 font-semibold text-lg">Hopitalizaciones</h1>
          <div class="flex gap-4">
            <app-dashboard-block class="flex-1">
              <div
                *ngIf="!patient?.medicalHistory?.hospitalizations.length"
                class="flex items-center justify-center py-4 gap-4 text-gray-400"
              >
                <fa-icon [icon]="faHospital"></fa-icon>
                <h1 class="text-xl font-semibold">
                  El paciente no ha sido hospitalizado
                </h1>
              </div>
              <div *ngIf="patient?.medicalHistory?.hospitalizations?.length">
                <div class="flex py-2 font-bold capitalize">
                  <div class="flex-1">Razón</div>
                  <div class="flex-1">Fecha</div>
                  <div class="flex-1">Días</div>
                </div>
                <div
                  class="flex hover:bg-slate-100 cursor-pointer px-4 py-2 -mx-4 text-sm"
                  *ngFor="
                    let hosp of patient?.medicalHistory?.hospitalizations;
                    let last = last
                  "
                  [class.border-b]="!last"
                >
                  <div class="flex-1 font-bold">{{ hosp.reason }}</div>
                  <div class="flex-1">{{ hosp.date | date }}</div>
                  <div class="flex-1">{{ hosp.days }}</div>
                </div>
              </div>
            </app-dashboard-block>
          </div>
        </div>
        <!-- Hopitalizaciones end -->
      </div>

      <div class="flex flex-col gap-4 flex-[0.3]">
        <app-dashboard-block
          class="cursor-pointer"
          title="historial de visitas"
          [icon]="faClockRotateLeft"
        ></app-dashboard-block>
        <app-dashboard-block
          class="cursor-pointer"
          title="historial familiar"
          [icon]="faTimeline"
        ></app-dashboard-block>
        <app-dashboard-block
          class="cursor-pointer"
          title="historial de vacunas"
          [icon]="faSyringe"
        ></app-dashboard-block>
        <app-dashboard-block
          class="cursor-pointer"
          title="Notas del paciente"
          [icon]="faUserPen"
        ></app-dashboard-block>
      </div>
    </div>
  </div>
</div>
