<div class="flex">
  <div class="flex flex-row h-screen antialiased text-gray-800">
    <div class="flex flex-row w-24 flex-shrink-0 bg-gray-100 p-4">
      <div
        class="flex flex-col items-center py-4 flex-shrink-0 w-20 bg-indigo-800 rounded-3xl"
      >
        <a
          routerLink="/"
          class="flex items-center justify-center h-12 w-12 bg-white text-indigo-800 rounded-full"
        >
          <fa-icon class="text-2xl" [icon]="faLaptopMedical"></fa-icon>
        </a>
        <ul class="flex flex-col space-y-2 mt-12">
          <li>
            <a routerLink="/" class="flex items-center">
              <span
                class="flex items-center justify-center text-white hover:bg-indigo-700 h-12 w-12 rounded-2xl"
              >
                <fa-icon class="text-2xl" [icon]="faHouseMedical"></fa-icon>
              </span>
            </a>
          </li>
          <li>
            <a routerLink="/pacientes" class="flex items-center">
              <span
                class="flex items-center justify-center text-white hover:bg-indigo-700 h-12 w-12 rounded-2xl"
              >
                <fa-icon class="text-2xl" [icon]="faUserDoctor"></fa-icon>
              </span>
            </a>
          </li>
          <li>
            <a routerLink="/calendario" class="flex items-center">
              <span
                class="flex items-center justify-center text-white hover:bg-indigo-700 h-12 w-12 rounded-2xl"
              >
                <fa-icon class="text-2xl" [icon]="faCalendarPlus"></fa-icon>
              </span>
            </a>
          </li>
          <li>
            <a routerLink="/chat" class="flex items-center">
              <span
                class="flex items-center justify-center text-white hover:bg-indigo-700 h-12 w-12 rounded-2xl"
              >
                <fa-icon class="text-2xl" [icon]="faCommentMedical"></fa-icon>
              </span>
            </a>
          </li>
          <li>
            <a routerLink="/ajustes" class="flex items-center">
              <span
                class="flex items-center justify-center text-white hover:bg-indigo-700 h-12 w-12 rounded-2xl"
              >
                <fa-icon class="text-2xl" [icon]="faGear"></fa-icon>
              </span>
            </a>
          </li>
        </ul>
        <button
          class="mt-auto flex items-center justify-center hover:text-white text-indigo-500 h-10 w-10"
        >
          <fa-icon class="text-2xl" [icon]="faMoon"></fa-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="flex-1">
    <router-outlet></router-outlet>
  </div>
</div>
