<div class="flex bg-gray-100">
  <div class="flex flex-row h-screen antialiased text-gray-800">
    <div class="flex-row flex-shrink-0 sticky top-0 hidden tablet:flex">
      <div class="flex flex-col items-center py-4 flex-shrink-0 w-20 bg-white">
        <a
          aria-label="Navegar a inicio"
          routerLink="/"
          class="flex items-center justify-center h-12 w-12 text-white bg-indigo-500 rounded-full"
        >
          <fa-icon class="text-2xl" [icon]="faLaptopMedical"></fa-icon>
        </a>
        <ul class="flex flex-col gap-16 mt-12 items-center">
          <li *rxFor="let item of menuItems">
            <a
              [attr.aria-label]="'Navegar a ' + item.title"
              [routerLink]="item.link"
              [popper]="item.title"
              [popperTrigger]="hover"
              class="flex items-center text-gray-600 hover:text-indigo-500 px-7"
              routerLinkActive="text-indigo-500 border-r border-indigo-500 border-r-4"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <fa-icon class="w-5 text-xl" [icon]="item.icon"></fa-icon>
            </a>
          </li>
        </ul>
        <button
          aria-label="Cambiar a modo nocturno"
          class="mt-auto flex items-center justify-center hover:text-gray-600 text-indigo-500 h-10 w-10"
          (click)="toggleNightMode()"
        >
          <fa-icon class="w-5 text-xl" [icon]="faMoon"></fa-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="flex-1 w-screen tablet:w-auto">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="tablet:hidden fixed bottom-0 bg-white w-screen shadow border-t">
  <div class="flex justify-evenly">
    <a
      *rxFor="let item of getMobileMenuItems()"
      class="flex flex-1 justify-center text-gray-600 hover:text-indigo-500 py-3"
      [routerLink]="item.link"
      routerLinkActive="text-indigo-500 border-indigo-500 border-t-4"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <fa-icon class="text-3xl" [icon]="item.icon"></fa-icon>
    </a>
  </div>
</div>
