<div class="flex">
  <div class="flex flex-row h-screen antialiased text-gray-800">
    <div class="flex flex-row flex-shrink-0 sticky top-0">
      <div class="flex flex-col items-center py-4 flex-shrink-0 w-20 bg-white">
        <a
          aria-label="Navegar a inicio"
          routerLink="/"
          class="flex items-center justify-center h-12 w-12 text-white bg-indigo-500 rounded-full"
        >
          <fa-icon class="text-2xl" [icon]="faLaptopMedical"></fa-icon>
        </a>
        <ul class="flex flex-col gap-16 mt-12 items-center">
          <li>
            <a
              aria-label="Navegar a inicio"
              routerLink="/"
              popper="Inicio"
              [popperTrigger]="hover"
              class="flex items-center text-gray-600 hover:text-indigo-500 px-7"
              routerLinkActive="text-indigo-500 border-r border-indigo-500 border-r-4"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <fa-icon class="w-5 text-xl" [icon]="faHouseMedical"></fa-icon>
            </a>
          </li>
          <li>
            <a
              aria-label="Navegar a pacientes"
              routerLink="/pacientes"
              popper="Pacientes"
              [popperTrigger]="hover"
              class="flex items-center text-gray-600 hover:text-indigo-500 px-7"
              routerLinkActive="text-indigo-500 border-r border-indigo-500 border-r-4"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <fa-icon class="w-5 text-xl" [icon]="faUserDoctor"></fa-icon>
            </a>
          </li>
          <li>
            <a
              aria-label="Navegar a calendario"
              routerLink="/calendario"
              popper="Calendario"
              [popperTrigger]="hover"
              class="flex items-center text-gray-600 hover:text-indigo-500 px-7"
              routerLinkActive="text-indigo-500 border-r border-indigo-500 border-r-4"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <fa-icon class="w-5 text-xl" [icon]="faCalendarPlus"></fa-icon>
            </a>
          </li>
          <li>
            <a
              aria-label="Navegar a mensajes"
              routerLink="/mensajes"
              popper="Mensajes"
              [popperTrigger]="hover"
              class="flex items-center text-gray-600 hover:text-indigo-500 px-7"
              routerLinkActive="text-indigo-500 border-r border-indigo-500 border-r-4"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <fa-icon class="w-5 text-xl" [icon]="faCommentMedical"></fa-icon>
            </a>
          </li>
          <li>
            <a
              aria-label="Navegar a reportes"
              routerLink="/reportes"
              popper="Reportes"
              [popperTrigger]="hover"
              [popperApplyClass]="'bg-indigo-500 text-white'"
              class="flex items-center text-gray-600 hover:text-indigo-500 px-7"
              routerLinkActive="text-indigo-500 border-r border-indigo-500 border-r-4"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <fa-icon class="w-5 text-xl" [icon]="faSquareDollar"></fa-icon>
            </a>
          </li>
          <li>
            <a
              aria-label="Navegar a ajustes"
              routerLink="/ajustes"
              popper="Ajustes"
              [popperTrigger]="hover"
              [popperApplyClass]="'bg-indigo-500 text-white'"
              class="flex items-center text-gray-600 hover:text-indigo-500 px-7"
              routerLinkActive="text-indigo-500 border-r border-indigo-500 border-r-4"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <fa-icon class="w-5 text-xl" [icon]="faGear"></fa-icon>
            </a>
          </li>
        </ul>
        <button
          aria-label="Cambiar a modo nocturno"
          class="mt-auto flex items-center justify-center hover:text-gray-600 text-indigo-500 h-10 w-10"
          (click)="toggleNightMode()"
        >
          <fa-icon class="w-5 text-xl" [icon]="faMoon"></fa-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="flex-1">
    <router-outlet></router-outlet>
  </div>
</div>
