<div class="flex flex-row h-screen antialiased text-gray-800">
  <div
    class="flex flex-col h-full w-full bg-gray-100 px-4 py-6 overflow-y-scroll"
  >
    <div class="flex gap-4">
      <div class="flex flex-col flex-[0.15] gap-4">
        <app-dashboard-block
          title="Agendar cita"
          [icon]="faCalendarCheck"
          class="cursor-pointer"
        ></app-dashboard-block>
        <app-dashboard-block title="Citas hoy" [icon]="faCalendarCheck">
          <h1 class="flex text-3xl font-bold py-2">
            {{ getPatientsToday().length }}
          </h1>
        </app-dashboard-block>
        <app-dashboard-block title="Operaciones" [icon]="faTriangleExclamation">
          <h1 class="flex text-3xl font-bold py-2">
            {{ 0 }}
          </h1>
        </app-dashboard-block>
        <app-dashboard-block title="Inyecciones" [icon]="faSyringe">
          <h1 class="flex text-3xl font-bold py-2">
            {{ 8 }}
          </h1>
        </app-dashboard-block>
      </div>
      <div class="flex flex-col gap-4 flex-1">
        <app-dashboard-block>
          <div class="flex gap-4">
            <div class="flex flex-1 justify-center">
              <app-dashboard-block class="flex">
                <bs-datepicker-inline
                  [bsValue]="date"
                  [bsConfig]="{ isAnimated: false }"
                  (bsValueChange)="date = $event"
                ></bs-datepicker-inline>
              </app-dashboard-block>
            </div>
            <div class="flex-1">{{ date | date }}</div>
          </div>
        </app-dashboard-block>
        <!-- <app-dashboard-block title="Promedio de pacientes"
          >App</app-dashboard-block
        > -->
        <div class="flex gap-4">
          <div class="flex-1">
            <app-dashboard-block title="pacientes por mes" [icon]="faChartLine">
              <canvas id="monthly-consultations">{{
                consultationChart
              }}</canvas>
            </app-dashboard-block>
          </div>
          <div class="flex-1">
            <app-dashboard-block title="Vistos Recientemente" [icon]="faUser">
              <div class="flex flex-col">
                <a
                  [routerLink]="['/pacientes/detalles', patient.id]"
                  class="flex hover:bg-slate-100 cursor-pointer px-4 py-2 -mx-4 text-sm rounded-md"
                  *ngFor="
                    let patient of patients.recentPatients;
                    let last = last
                  "
                  [class.border-b]="!last"
                >
                  {{ patient.name }}
                </a>
              </div>
            </app-dashboard-block>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
