::ng-deep {
  .bs-datepicker {
    border-radius: 50px;
    box-shadow: none;
  }
  .bs-datepicker-body {
    border: none;
  }

  .bs-datepicker-head {
    background: none;
    background-color: none !important;
    color: #444;
  }
}
