<div class="flex flex-row h-screen antialiased text-gray-800">
  <div
    class="flex flex-col h-full w-full bg-gray-100 px-4 py-6 overflow-y-scroll"
  >
    <div class="flex gap-4">
      <div class="flex flex-col flex-[0.15] gap-4">
        <a
          class="bg-indigo-500 text-white p-3 rounded-md shadow-sm hover:bg-indigo-600 cursor-pointer"
          (click)="openNewConsultationModal()"
        >
          <div class="flex items-center gap-4">
            <fa-icon
              class="text-xs py-1 px-[6px] bg-white rounded-lg text-indigo-600"
              [icon]="faUserPlus"
            ></fa-icon>
            <h1 class="font-bold text-sm">Agendar paciente</h1>
          </div>
        </a>
        <app-dashboard-block title="Citas hoy" [icon]="faCalendarCheck">
          <h1 class="flex text-3xl font-bold py-2">
            {{ getConsultationsToday().length }}
          </h1>
        </app-dashboard-block>
        <app-dashboard-block title="Operaciones" [icon]="faTriangleExclamation">
          <h1 class="flex text-3xl font-bold py-2">
            {{ 0 }}
          </h1>
        </app-dashboard-block>
        <app-dashboard-block title="Inyecciones" [icon]="faSyringe">
          <h1 class="flex text-3xl font-bold py-2">
            {{ 0 }}
          </h1>
        </app-dashboard-block>
      </div>
      <div class="flex flex-col gap-4 flex-1">
        <app-dashboard-block>
          <div class="flex gap-12">
            <div class="flex flex-1">
              <app-dashboard-block class="flex-1">
                <full-calendar
                  class="h-32"
                  [options]="calendarOptions"
                ></full-calendar>
              </app-dashboard-block>
            </div>
            <div class="flex flex-1 gap-8">
              <app-dashboard-block
                class="flex flex-1"
                title="Pacientes ({{ date | date : 'd/M' }})"
                [icon]="faUser"
              >
                <h1 class="flex text-3xl font-bold py-2">
                  {{ consultationsByDate.length }}
                </h1>
              </app-dashboard-block>
              <app-dashboard-block
                class="flex flex-1"
                title="Atendidos"
                [icon]="faUserCheck"
              >
                <h1 class="flex text-3xl font-bold py-2">
                  {{ consultations.getTodayConfirmedConsultations().length }}
                </h1>
              </app-dashboard-block>
              <app-dashboard-block
                class="flex flex-1"
                title="Por atender"
                [icon]="faUserXmark"
              >
                <h1 class="flex text-3xl font-bold py-2">
                  {{ consultations.getTodayUnconfirmedConsultations().length }}
                </h1>
              </app-dashboard-block>
            </div>
          </div>
        </app-dashboard-block>
        <div>
          <app-dashboard-block
            title="Pacientes del día"
            [icon]="faHospitalUser"
          >
            <div class="flex flex-col">
              <div *ngIf="!consultations.getTodayConsultations().length">
                <h1 class="text-center text-gray-400 mb-4">
                  No hay pacientes para hoy
                </h1>
              </div>
              <div
                *ngIf="consultations.getTodayConsultations().length"
                class="flex py-2 font-bold capitalize"
              >
                <div class="flex-1">Paciente</div>
                <div class="flex-1">Hora</div>
                <div class="flex-[50%]">Progreso</div>
              </div>
              <div
                class="flex px-4 py-2 -mx-4 text-sm items-center"
                *ngFor="
                  let consultation of consultations.getTodayConsultations();
                  let last = last
                "
                [class.border-b]="!last"
              >
                <div class="flex-1 font-bold">{{ consultation.title }}</div>
                <div class="flex-1">
                  {{ getTimeAMPM(consultation.time) }}
                </div>
                <div class="flex-[50%]">
                  <app-stepper
                    [status]="consultation?.status"
                    (scheduledClick)="
                      consultations.consultationStatusChange(
                        consultation,
                        'scheduled'
                      )
                    "
                    (waitingClick)="
                      consultations.consultationStatusChange(
                        consultation,
                        'waiting'
                      )
                    "
                    (ongoingClick)="
                      consultations.consultationStatusChange(
                        consultation,
                        'ongoing'
                      )
                    "
                    (paidClick)="onPaymentClick($event, consultation)"
                  ></app-stepper>
                </div>
              </div>
            </div>
          </app-dashboard-block>
        </div>

        <div class="flex gap-4">
          <div class="flex-1">
            <app-dashboard-block title="Pacientes por mes" [icon]="faChartLine">
              <canvas id="monthly-consultations">{{
                consultationChart
              }}</canvas>
            </app-dashboard-block>
          </div>
          <div class="flex-1">
            <app-dashboard-block title="Vistos Recientemente" [icon]="faUser">
              <div class="flex flex-col">
                <a
                  [routerLink]="['/pacientes/detalles', patient.id]"
                  class="flex hover:bg-slate-100 cursor-pointer px-4 py-2 -mx-4 text-sm"
                  *ngFor="
                    let patient of patients.recentPatients;
                    let last = last
                  "
                  [class.border-b]="!last"
                >
                  {{ patient.name }}
                </a>
              </div>
            </app-dashboard-block>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
