<div class="flex flex-row h-screen antialiased text-gray-800">
  <div
    class="flex flex-col h-full w-full bg-gray-100 px-4 py-6 overflow-y-scroll"
  >
    <div class="flex gap-4">
      <div class="flex flex-col flex-[0.15] gap-4">
        <a
          class="bg-indigo-500 text-white p-3 rounded-md shadow-sm hover:bg-indigo-600 cursor-pointer"
          (click)="openNewConsultationModal()"
        >
          <div class="flex items-center gap-4">
            <fa-icon
              class="text-xs py-1 px-[6px] bg-white rounded-lg text-indigo-600"
              [icon]="faUserPlus"
            ></fa-icon>
            <h1 class="font-bold text-base">Agendar paciente</h1>
          </div>
        </a>
        <app-dashboard-block title="Citas hoy" [icon]="faCalendarCheck">
          <h1 class="flex text-3xl font-bold py-2">
            {{ getConsultationsToday().length }}
          </h1>
        </app-dashboard-block>
        <app-dashboard-block title="Operaciones" [icon]="faTriangleExclamation">
          <h1 class="flex text-3xl font-bold py-2">
            {{ 0 }}
          </h1>
        </app-dashboard-block>
        <app-dashboard-block title="Inyecciones" [icon]="faSyringe">
          <h1 class="flex text-3xl font-bold py-2">
            {{ 8 }}
          </h1>
        </app-dashboard-block>
      </div>
      <div class="flex flex-col gap-4 flex-1">
        <app-dashboard-block>
          <div class="flex gap-12">
            <div class="flex flex-1">
              <app-dashboard-block class="flex-1">
                <full-calendar
                  class="h-32"
                  [options]="calendarOptions"
                ></full-calendar>
              </app-dashboard-block>
            </div>
            <div class="flex flex-1 gap-8">
              <app-dashboard-block
                class="flex flex-1"
                title="Pacientes ({{ date | date : 'd/M' }})"
                [icon]="faUser"
              >
                <h1 class="flex text-3xl font-bold py-2">
                  {{ consultationsByDate.length }}
                </h1>
              </app-dashboard-block>
              <app-dashboard-block class="flex flex-1">
                {{ date | date }}
              </app-dashboard-block>
              <app-dashboard-block class="flex flex-1">
                {{ date | date }}
              </app-dashboard-block>
            </div>
          </div>
        </app-dashboard-block>
        <div>
          <app-dashboard-block
            title="pacientes del día"
            [icon]="faHospitalUser"
          >
            <div class="flex flex-col">
              <div *ngIf="!consultations.getTodayConsultations().length">
                <h1 class="text-center text-gray-400 mb-4">
                  No hay pacientes para hoy
                </h1>
              </div>
              <div
                *ngIf="consultations.getTodayConsultations().length"
                class="flex py-2 font-bold capitalize"
              >
                <div class="flex-1">Paciente</div>
                <div class="flex-1">Hora</div>
                <div class="flex-1">Asistida</div>
                <div class="flex flex-1 justify-end">Acciones</div>
              </div>
              <div
                class="flex hover:bg-slate-100 cursor-pointer px-4 py-2 -mx-4 text-sm"
                *ngFor="
                  let consultation of consultations.getTodayConsultations();
                  let last = last
                "
                [class.border-b]="!last"
              >
                <div class="flex-1 font-bold">{{ consultation.title }}</div>
                <div class="flex-1">{{ getTimeAMPM(consultation.time) }}</div>
                <div class="flex-1">
                  <app-pill
                    class="flex"
                    [active]="consultation.confirmed ? true : false"
                  >
                    <div
                      class="h-2 w-2 rounded-full"
                      [class.bg-green-500]="consultation.confirmed"
                      [class.bg-red-500]="!consultation.confirmed"
                    ></div>
                    <div>
                      {{ consultation.confirmed ? "Atendido" : "No atendido" }}
                    </div>
                  </app-pill>
                </div>
                <div class="flex flex-1 gap-4 justify-end">
                  <fa-icon
                    class="text-lg text-indigo-500"
                    [icon]="faCheck"
                    (click)="consultations.confirmConsultation(consultation)"
                  >
                  </fa-icon>
                  <fa-icon
                    class="text-lg text-red-500"
                    [icon]="faXmark"
                    (click)="consultations.cancelConsultation(consultation)"
                  >
                  </fa-icon>
                </div>
              </div>
            </div>
          </app-dashboard-block>
        </div>

        <div class="flex gap-4">
          <div class="flex-1">
            <app-dashboard-block title="pacientes por mes" [icon]="faChartLine">
              <canvas id="monthly-consultations">{{
                consultationChart
              }}</canvas>
            </app-dashboard-block>
          </div>
          <div class="flex-1">
            <app-dashboard-block title="Vistos Recientemente" [icon]="faUser">
              <div class="flex flex-col">
                <a
                  [routerLink]="['/pacientes/detalles', patient.id]"
                  class="flex hover:bg-slate-100 cursor-pointer px-4 py-2 -mx-4 text-sm"
                  *ngFor="
                    let patient of patients.recentPatients;
                    let last = last
                  "
                  [class.border-b]="!last"
                >
                  {{ patient.name }}
                </a>
              </div>
            </app-dashboard-block>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
